data/01_bronze/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data/02_silver/**/*.parquet filter=lfs diff=lfs merge=lfs -text
*.pbix filter=lfs diff=lfs merge=lfs -text
README.md !text !filter !merge !diff
*.gitignore !text !filter !merge !diff
*.yml !text !filter !merge !diff
