data/01_bronze/reacoes/*.csv filter=lfs diff=lfs merge=lfs -text
data/01_bronze/medicamentos/*.csv filter=lfs diff=lfs merge=lfs -text
data/01_bronze/notificacoes/*.csv filter=lfs diff=lfs merge=lfs -text
